<h3>Cadastro de Usuários</h3>
<div class="p-field p-grid">
    <label for="firstname3" class="p-col-fixed" style="width:100px">Nome</label>
    <div class="p-col">
        <input id="firstname3" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width:100px">Sobrenome</label>
    <div class="p-col">
        <input id="lastname3" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="cpf" class="p-col-fixed" style="width:100px">CPF</label>
    <div class="p-col">
        <input id="cpf" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="data-nascimento" class="p-col-fixed" style="width:100px">Data de Nascimento</label>
    <div class="p-col">
        <input id="data-nascimento" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="telefone" class="p-col-fixed" style="width:100px">Telefone</label>
    <div class="p-col">
        <input id="telefone" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="email" class="p-col-fixed" style="width:100px">Email</label>
    <div class="p-col">
        <input id="email" type="text" pInputText>
    </div>
</div>
<div>
    <p-button label="Cadastrar Usuário" (onClick)="createUser()"></p-button>
</div>